.body{
	width: 1000px;
	margin-left: 125px;
}

.panelGroupMenuBar{
	width: 630px;
	margin-top: 15px;
	margin-bottom: 30px;
	padding-left: 390px;
}

.buttonProjetos {
    background: white url('images/projetos_48x48.png') no-repeat top;
	width: 55px;
	height: 55px;
	margin-right: 30px;
}

.buttonGraficos {
    background: white url('images/graficos_48x48.png') no-repeat top;
	width: 55px;
	height: 55px;
	margin-right: 30px;
}


.buttonUsuarios {
    background: white url('images/usuarios_48x48.png') no-repeat top;
	width: 55px;
	height: 55px;
}


.fieldSet{
	text-align: center;
}


.panelGroupLogin{
	margin-left: 370px;
	margin-top: 150px;
}


.boasVindas{
	text-align: center;
	font-family: ;
	margin-top: 200px;
}